<ion-header>
  <ion-navbar>
    <ion-title text-center>
      Tic Tac Toe
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <form [formGroup]="myForm" (submit)="saveForm($event)">  

    <ion-list radio-group>
      <ion-item>
        <ion-label>X</ion-label>
        <ion-radio ng-model="" name="choice"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>O</ion-label>
        <ion-radio ng-model="" name="choice"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-row col-4>
      <button ion-button color="danger" round (click)=pushPage()>
        <ion-icon name="ios-game-controller-a"></ion-icon>&nbsp;Play Game
      </button>
    </ion-row>

  </form>


</ion-content>
 
