page-home {

}

ion-content {
	background-color: #ffb700;
}

ion-grid {
	background-color: #ed0000;
}

ion-row {
	
}

ion-col {
	background-color: #ed0000;
	border: 5px solid #ffb700;
	// height: 25vh;
 // 	width: 25vh;
}


ion-icon {
	width: 50%;
}

@media (min-width: 700px) and (orientation: landscape) { 
	ion-col {
		// height: 25vh;
 	// 	width: 25vh;
	} 
}

.parent {
	display: table;
}

.child {
	display: table-cell;
	vertical-align: middle;
}